.vueperslides__slide {
  position: relative;
  background-position: bottom;
}

.vueperslides__slide-content--outside {
  position: static;
  transform: none;
  text-align: left;
  color: #444;
}

.vueperslides__slide .vueperslides__slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.vueperslides__slide-content .slide-title {
  font-size: 2em;
}

.vueperslides__slide-content .slide-content {
  font-style: italic;
}

.vueperslides__slide-content--outside .content {
  padding-left: 2em;
  margin-top: 0;
}

.vueperslides__slide .vueperslides__slide-content .slide-content {
  position: relative;
  // top: 3em;
}

.ex1 .vueperslides__slide {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  -moz-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
}

.ex1 .slide-title {
  font-size: 7em;
  opacity: 0.6;
}

.ex--arrows-and-bullets .vueperslides__bullet {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  box-shadow: none;
  transition: 0.3s;
  width: 16px;
  height: 16px;
}

.ex--arrows-and-bullets .vueperslides__bullet--active {
  background-color: #ff5252;
}

.ex--arrows-and-bullets .vueperslides__bullet span {
  display: block;
  color: #fff;
  font-size: 10px;
  opacity: 0.8;
}

.ex--events .vueperslides__slide--active:before {
  content: 'This slide is active!';
  position: absolute;
  top: -18px;
  right: -18px;
  padding: 4px 25px;
  background: orange;
  color: #fff;
  font-size: 10px;
  transform: translateX(30%) rotate(45deg);
  transform-origin: 0 0;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
}

.ex--center-mode {
  width: 600px;
  max-width: 100%;
  margin: auto;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
