@import '../../styles/variables';

.features {
  line-height: 1.8;
  margin-bottom: 3em;
  padding-left: 2.2em;
  position: relative;

  .icon {
    line-height: 0.8;
    position: absolute;
    left: 0;
    padding-top: 0.1em;
  }
}

.coming-soon {
  font-style: italic;

  .card__title {
    padding-bottom: 0;
    font-size: 1.2em;
  }

  .chip {
    margin: 2px 0;
  }
}

.chip i.icon {
  position: relative;
  color: rgba(0, 0, 0, .25);
  margin: 0 7px 0 -7px;
}

.highlight {
  margin-top: 5px;
  padding: 8px 10px;
  border-left: 3px solid;
    background-color: rgba(#09f, 0.08) !important;
    border-color: #09f !important;

  &.success {
    background-color: rgba(#6c0, 0.1) !important;
    border-color: #6c0 !important;
  }

  &.info {
    background-color: rgba(#ff0, 0.15) !important;
    border-color: #fd0 !important;
  }

  &.warning {
    background-color: rgba(#fa0, 0.1) !important;
    border-color: #fa0 !important;
  }

  &.error {
    background-color: rgba(#f33, 0.08) !important;
    border-color: #f33 !important;
  }
}

.settings-list {
  li {
    padding: 10px;
  }

  code {
    font-size: 1.1em;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.code {
  font-family: monospace,monospace;
}
