@import '../../styles/variables';

.features {
  line-height: 1.8;
  margin-bottom: 3em;
  padding-left: 2.2em;
  position: relative;

  .v-icon {
    line-height: 0.8;
    position: absolute;
    left: 0;
    padding-top: 0.1em;
  }
}

.github {
  margin-bottom: 3em;
}

.coming-soon {
  font-style: italic;

  .v-card__title {
    padding-bottom: 0;
    font-size: 1.2em;
  }

  .v-chip {
    margin: 2px 0;
  }
}

.v-chip i.v-icon {
  position: relative;
  color: rgba(0, 0, 0, .25);
  margin: 0 7px 0 -7px;
}

.settings-list {
  li {
    padding: 20px 10px;
  }

  code {
    font-size: 1.1em;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.code {
  font-family: monospace,monospace;
}
