div.documentation
  v-layout.max-widthed(row align-center)
    p.
      Vueper Slides comes with a minimum of styling (using the #[i BEM] convention).#[br]
      You can easily override it, the aim is to let users have their own styles.
    v-spacer
    v-card.coming-soon
      v-card-title To Do...
      v-card-text
        v-layout(column)
          v-chip(color="light-green lighten-1" text-color="white" small)
            v-icon check_circle
            | Emit events with params
          v-chip(color="light-green lighten-1" text-color="white" small)
            v-icon check_circle
            | Slide with keyboard arrows
          v-chip(color="amber lighten-2" text-color="white" small)
            v-icon access_time
            | Add / remove slides
          v-chip(color="amber lighten-2" text-color="white" small)
            v-icon access_time
            | Center mode
          v-chip(color="deep-orange lighten-1" text-color="white" small)
            v-icon remove_circle
            | Minify VueperSlides
          v-chip(color="deep-orange lighten-1" text-color="white" small)
            v-icon remove_circle
            | Breakpoints
          v-chip(color="deep-orange lighten-1" text-color="white" small)
            v-icon remove_circle
            | Nav for
          v-chip(color="deep-orange lighten-1" text-color="white" small)
            v-icon remove_circle
            | Slides to scroll at once
          v-chip(color="deep-orange lighten-1" text-color="white" small)
            v-icon remove_circle
            | Dragging distance
          v-chip(color="deep-orange lighten-1" text-color="white" small)
            v-icon remove_circle
            | Lazy loading
          v-chip(color="deep-orange lighten-1" text-color="white" small)
            v-icon remove_circle
            | Remove / disable
          v-chip(color="deep-orange lighten-1" text-color="white" small)
            v-icon remove_circle
            | Parallax
    v-spacer


  h2
    a(href="#installation") Installation
    a(name="installation")
  h3 NPM - Coming Soon!
  precode(language="shell" label="Shell") npm install vueper-slides --save
  p Then import the 2 components and use it:
  precode(language="js" label="Javascript").
    import { VueperSlides, VueperSlide } from '../../../../dist/vueperslides.umd'
    ...

    export default {
      components: {
        VueperSlides,
        VueperSlide
      },
      template: ...,
      ...
    }


  h3 Browser Use
  p Place this in your document &lt;head&gt;
  precode(language="html" label="HTML").
    &lt;head&gt;
      ...
      &lt;script src="https://unpkg.com/vue/dist/vue.min.js"&gt;&lt;/script&gt;
      &lt;script src="https://unpkg.com/vuetify/dist/vuetify.min.js"&gt;&lt;/script&gt;
      &lt;script src="../dist/vueperslides.umd.js"&gt;&lt;/script&gt;
      &lt;link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet"&gt;
    &lt;/head&gt;
  p Then use like this:
  precode(language="html-vue" label="HTML Vue Template").
    &lt;vueper-slides&gt;
      &lt;vueper-slide v-for="i in 5" :key="i" :title="i"&gt;&lt;/vueper-slide&gt;
    &lt;/vueper-slides&gt;

  h2
    a(href="#vueper-slides-api") &lt;vueper-slides&gt; API
    a(name="vueper-slides-api")
  p.
    This is the main tag for the slider.#[br]
    You can set different options in html attributes.#[br]
    You can also override the default arrows and `paused` indicator if you want.

  h3
    a(href="#vueper-slides-settings") Settings
    a(name="vueper-slides-settings")
  p Settings
  precode(language="js").
    initSlide:                [Number],         default: 1
    slideRatio:               [Number],         default: 1/3
    arrows:                   [Boolean],        default: true
    disableArrowsOnEdges:     [Boolean],        default: false
    bullets:                  [Boolean],        default: true
    bulletsOutside:           [Boolean],        default: false
    fade:                     [Boolean],        default: false
    slideContentOutside:      [Boolean],        default: false
    slideContentOutsideClass: [String],         default: ""
    autoplay:                 [Boolean],        default: false
    speed:                    [Number, String], default: 4000
    pauseOnHover:             [Boolean],        default: true
    infinite:                 [Boolean],        default: true
    touchable:                [Boolean],        default: true

  h3
    a(href="#events") Events
    a(name="events")
  p To see the events in action you can check the #[a(href="#ex--events") Events example].
  ul.max-widthed
    li
      h4
        code before-init
    li
      h4
        code ready
    li
      h4
        code before-slide
      p This event is emitted with:
      ul
        li a #[code currentSlide] object containing the slide index, title & content of the current slide.
        li a #[code nextSlide] object containing the slide index, title & content of the next slide.
    li
      h4
        code slide
      p comes with information about the new current slide.

  h2
    a(href="#vueper-slide-api") &lt;vueper-slide&gt; API
    a(name="vueper-slide-api")
  h3
    a(href="#vueper-slide-settings") Settings
    a(name="vueper-slide-settings")
  p Settings
  precode(language="js").
    image:   [String], default: ''
    title:   [String], default: ''
    content: [String], default: ''


  h2
    a(href="#examples") Examples of Use
    a(name="examples")

  h3
    a(href="#ex--simplest-ever") Simplest Ever
    a(name="ex--simplest-ever")
  precode(language="html-vue" label="HTML Vue Template").
    &lt;vueper-slides&gt;
      &lt;vueper-slide v-for="i in 5" :key="i" :title="i"&gt;&lt;/vueper-slide&gt;
    &lt;/vueper-slides&gt;
  vueper-slides.ex1
    vueper-slide(v-for="i in 5" :key="i" :title="i.toString()")

  h3
    a(href="#ex--basic") Basic with Autoplay
    a(name="ex--basic")
  p
    | This example uses autoplay, slide titles & contents & an infinite mode (by default).#[br]
    em The autoplay circles between all the slides and goes back to the begining after the last slide.
  precode(language="html-vue" label="HTML Vue Template").
    &lt;vueper-slides autoplay&gt;
      &lt;v-icon slot="pausedIcon" large color="white"&gt;pause&lt;/v-icon&gt;
      &lt;vueper-slide v-for="(slide, i) in slides"
        :key="slide.id"
        :title="slide.title"
        :content="slide.content"
        :style="'background-color: ' + colors[i % 4]"&gt;&lt;/vueper-slide&gt;
    &lt;/vueper-slides&gt;
  vueper-slides.ex2(autoplay)
    v-icon(slot="pausedIcon" large color="white") pause
    vueper-slide(v-for="(slide, i) in slides" :key="slide.id" :title="slide.title" :content="slide.content" :style="'background-color: ' + colors[i % 4]")

  h3
    a(href="#ex--arrows-and-bullets") Arrows & bullets
    a(name="ex--arrows-and-bullets")
  p.
    This example uses custom arrows and positions the bullets outside of the slideshow.#[br]
    The bullets are showing slide indexes which is disabled by default.#[br]
    You can also disable arrows and/or bullets. E.g. #[code :arrows="false"], #[code :bullets="false"]
  precode(language="html-vue" label="HTML Vue Template").
    &lt;vueper-slides :infinite="false" :bullets-outside="true"&gt;
      &lt;v-icon slot="arrowLeft" color="white" large&gt;arrow_left&lt;/v-icon&gt;
      &lt;v-icon slot="arrowRight" color="white" large&gt;arrow_right&lt;/v-icon&gt;
      &lt;vueper-slide
        v-for="(slide, i) in slides"
        :key="slide.id"
        :title="slide.title"
        :content="slide.content"
        :style="'background-color: ' + colors[(i + 1) % 4]"&gt;&lt;/vueper-slide&gt;
    &lt;/vueper-slides&gt;
  precode(language="css" label="CSS").
    .ex3 .vueperslides__bullet {
      background-color: rgba(0, 0, 0, 0.3);
      border: none;
      box-shadow: none;
      transition: 0.3s;
      width: 16px;
      height: 16px;
    }

    .ex3 .vueperslides__bullet--active {
      background-color: #ff5252;
    }

    .ex3 .vueperslides__bullet span {
      display: block;
      color: #fff;
      font-size: 10px;
      opacity: 0.8;
    }
  vueper-slides.ex3(:infinite="false" :bullets-outside="true")
    v-icon(slot="arrowLeft" color="white" x-large) undo
    v-icon(slot="arrowRight" color="white" x-large) redo
    vueper-slide(v-for="(slide, i) in slides" :key="slide.id" :title="slide.title" :content="slide.content" :style="'background-color: ' + colors[(i + 1) % 4]")

  h3
    a(href="#ex--images-and-fading") Images & Fading
    a(name="ex--images-and-fading")
  p.
    This example uses #[b images] and #[b fading] as the slide transition.#[br]
    The #[b dragging] ability to change slide is #[b disabled].#[br]
    The current slide title & content are shown #[b outside] of the slider.
    #[br]Of course you can position it with a bit of CSS.
  precode(language="html-vue" label="HTML Vue Template").
    &lt;vueper-slides&gt;
      &lt;vueper-slide
        v-for="(slide, i) in slides2"
        :key="i"
        :image="'images/' + slide.image"
        :title="'# ' + slide.title"
        :content="slide.content"&gt;&lt;/vueper-slide&gt;
    &lt;/vueper-slides&gt;
  vueper-slides(fade :slide-content-outside="true" slide-content-outside-class="max-widthed" :touchable="false" :slide-ratio="0.3")
    vueper-slide(v-for="(slide, i) in slides2" :key="i" :image="slide.image" :title="'# ' + slide.title" :content="slide.content")

  h3
    a(href="#ex--events") Events
    a(name="ex--events")
  p.
    This example demonstrates how to use the vueper slides provided events.#[br]
    The box bellow will be populated by all the events triggered while using the slideshow.#[br]
    You can change slides to see new events.
  pre(style="min-height: 120px")
    | listening...
    p(v-html="events")
  vueper-slides(@before-init="logEvents" @ready="logEvents" @before-slide="logEvents" @slide="logEvents" :slide-ratio="0.2")
    vueper-slide(v-for="i in 6" :key="i" :title="i.toString()" :style="'background-color: ' + ['#ff5252', '#42b983'][i % 2]")

  h3
    a(href="#ex--events") Add & Remove slides
    a(name="ex--events")
  p
    | This example demonstrates how to use the vueper slides provided events.#[br]
    | The box bellow will be populated by all the events triggered while using the slideshow.#[br]
    | You can change slides to see new events.
    v-btn(color="primary" @click="appendSlide" small)
      v-icon add
      | &nbsp; Add Slide
    v-btn(color="primary" @click="removeSlide" small)
      v-icon remove
      | &nbsp; Remove Slide
  vueper-slides(:slide-ratio="0.2" :infinite="true")
    vueper-slide(v-for="(slide, i) in slides3" :key="i" :title="slide.title" :content="slide.content" :style="'background-color: ' + ['#ff5252', '#42b983'][i % 2]")
