v-app(light v-scroll="onScroll")
  v-toolbar(app light color="white" dense flat fixed align-center :class="{'scrolled': offsetTop}")
    svg(class="toolbar__logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 442 442")
      g
        path(d="M166.636,225.195c3.941,15.981,27.265,26.307,59.421,26.307c24.085,0,39.358-8.799,45.619-17.032 c4.127-5.425,5.304-11.479,3.498-17.994c-3.601-12.994-22.35-19.318-52.796-28.189l-8.495-2.479 c-31.046-9.043-66.234-19.293-73.691-46.198c-3.764-13.58-1.119-27.262,7.447-38.526c0.341-0.448,0.694-0.889,1.052-1.328 c2.441-2.992,2.942-7.122,1.287-10.611c-1.656-3.489-5.172-5.712-9.034-5.712h-35.127c-2.912,0-5.679,1.269-7.579,3.476l-43.038,50 c-3.228,3.75-3.228,9.297,0,13.048l74.285,86.302c2.859,3.32,7.544,4.393,11.563,2.648c4.019-1.745,6.433-5.903,5.958-10.258 c-0.54-4.949,2.697-9.58,7.531-10.771c0.795-0.196,1.605-0.295,2.409-0.295C161.546,217.583,165.532,220.713,166.636,225.195z   M149.746,198.46c-6.929,1.708-12.766,5.77-16.8,11.164l-56.974-66.191l34.431-40h12.92c-5.458,12.997-6.348,27.293-2.405,41.518 c10.435,37.647,53.094,50.074,87.369,60.057l8.493,2.478c8.507,2.479,18.15,5.289,26.049,8.284 c8.659,3.285,11.886,5.539,12.992,6.508c-0.02,0.026-0.04,0.054-0.062,0.083c-2.794,3.674-13.009,9.14-29.7,9.14 c-27.185,0-39.002-8.284-40.002-11.095c-3.313-13.438-15.284-22.824-29.112-22.824C154.527,197.583,152.106,197.879,149.746,198.46 z")
        path(d="M263.197,264.516c-10.906,4.57-23.749,6.986-37.14,6.986c-18.762,0-35.732-3.221-49.077-9.313 c-4.274-1.952-9.329-0.665-12.149,3.091c-2.821,3.756-2.648,8.969,0.417,12.53l48.173,55.966c1.9,2.207,4.667,3.476,7.579,3.476 s5.679-1.269,7.579-3.476l46.062-53.513c3.026-3.516,3.237-8.651,0.51-12.403C272.424,264.107,267.476,262.723,263.197,264.516z   M221,311.922l-19.034-22.113c7.686,1.12,15.757,1.692,24.091,1.692c4.414,0,8.791-0.224,13.093-0.666L221,311.922z")
        path(d="M336.185,83.434h-36.583c-3.924,0-7.485,2.295-9.106,5.867c-1.622,3.573-1.004,7.764,1.58,10.717 c7.581,8.665,11.425,18.845,11.425,30.258c0,5.514-4.486,10-10,10s-10-4.486-10-10c0-25.24-34.223-36.538-68.141-36.538 c-27.285,0-44.649,10.049-51.802,19.454c-4.832,6.353-6.208,13.444-4.093,21.076c4.159,15.004,27.497,22.868,60.008,32.337 l8.496,2.479c30.671,8.937,59.641,17.377,66.479,42.049c1.536,5.544,1.931,11.109,1.174,16.54 c-0.612,4.393,1.743,8.665,5.785,10.493c1.325,0.599,2.727,0.889,4.116,0.889c2.847,0,5.637-1.217,7.583-3.477l73.698-85.62 c3.228-3.75,3.228-9.297,0-13.048l-43.038-50C341.864,84.703,339.097,83.434,336.185,83.434z M313.378,204.602 c-10.316-34.469-47.216-45.221-79.811-54.718l-8.497-2.479c-9.928-2.892-21.182-6.17-30.645-9.91 c-12.553-4.962-15.322-8.215-15.757-8.831c-0.352-1.365-0.253-1.969,0.809-3.365c3.041-3.999,14.455-11.561,35.883-11.561 c27.553,0,48.141,8.732,48.141,16.538c0,16.542,13.458,30,30,30s30-13.458,30-30c0-9.448-1.934-18.504-5.679-26.842h13.777 l34.431,40L313.378,204.602z")
        path(d="M439.579,136.91l-77.468-90c-1.9-2.207-4.667-3.476-7.579-3.476H87.468c-2.912,0-5.679,1.269-7.579,3.476l-77.468,90 c-3.228,3.75-3.228,9.297,0,13.048l211,245.132c1.9,2.207,4.667,3.477,7.579,3.477s5.679-1.27,7.579-3.477l211-245.132 C442.807,146.208,442.807,140.661,439.579,136.91z M221,373.238L23.194,143.434l68.861-80h257.89l68.861,80L221,373.238z")
    v-toolbar-title.primary--text Vueper Slides
    v-spacer
    v-toolbar-items
      //- router-link(to="examples")
      v-btn(flat color="secondary")
        v-icon favorite
        span Examples
  v-container(fluid)
    router-view
    v-footer.max-widthed
      span.copyright Copyright © 2018 Antoni André, all rights reserved.
      v-spacer
      span.made-with This site is made with &nbsp; VueJS, #[v-icon.heart favorite]