body {
  font: 13px Roboto, Tahoma, Geneva, sans-serif;
  color: $main-text;
}

.application.theme--light,
.application .theme--light.v-card, .theme--light .v-card {
  color: inherit;
}

h1, h2, h3, h4 {
  font-weight: normal;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}

h2 {
  margin-top: 3em;
  font-size: 2.2em;
  color: $primary;
  padding-bottom: 0.3em;
  border-bottom: 1px solid $lighter-text;
}

h3 {
  font-size: 1.7em;
  margin-top: 4em;
  color: $secondary;
}

h2 + h3,
h2 + a[name] + h3 {
  margin-top: 0;
}

h3 a[href] {
  color: inherit !important;
}

h3 a[href]:before {
  content: "# ";
  color: $lighter-text;
  font-size: 1.2em;
  transition: 0.3s;
}

h3 a[href]:hover:before {
  color: $light-text;
}

h4 {
  margin-top: 2em;
  font-size: 1.2em;
  color: $dark-text;
}

a {
  text-decoration: none;
}

p b {
  color: $darker-text;
  font-weight: 500;
}