@import './variables';
@import './typography';
@import './toolbar';

// GLOBAL
//=================================================//
ul {
  margin-top: 1em;
  margin-left: 1.3em;
}

pre {
  padding: 0.5em;
  margin: 1.5em 0;
  border: 1px solid $lighter-text;
  background-color: #f8f8f8;
  border-radius: 4px;
  display: block;
  box-shadow: none;
}

.page__title {
  color: $primary;
  background-color: #fff;
  padding: 1.5em;
  display: inline-flex;
  align-items: center;
}

.max-widthed, h2, h3, p, pre {
  max-width: $page-max-width;
  margin-left: auto;
  margin-right: auto;
}


// APPLICATION
//=================================================//
.application {
  background-color: #fff !important;
  padding-top: 8em;
}

.application--wrap {
  padding-top: 16em;
}



// FOOTER
//=================================================//
.application--wrap footer.footer {
    background: none;
    font-style: italic;
    color: $main-text;
    font-size: .9em;

    i {
        font-size: 1.2em;
        vertical-align: middle;
        transition: 1s ease-out;
        cursor: pointer;

        &.fa-css3 {
            font-size: 1.1em;
        }

        &.fa-html5:hover, &.fa-css3:hover {
            transform: rotate(360deg);
        }

        &.heart:hover {
            animation: pulse 1.8s ease-out infinite;
        }
    }
}


@keyframes pulse {
	0%, 20%, 30%, 35%, 45%, 100% {transform: scale(1);}
	25%, 40% {transform: scale(1.3);}
}
