@import './variables';
@import './typography';
@import './toolbar';

// GLOBAL
//=================================================//
a[name] {
  position: relative;
  top: -4em;
  display: block;
}

ul, ol {
  margin-top: 1em;
  padding-left: 1.3em;
}

pre {
  padding: 0.5em;
  margin: 1.5em 0;
  border: 1px solid $lighter-text;
  background-color: #f8f8f8;
  border-radius: 4px;
  display: block;
  box-shadow: none;
}

.v-chip--x-small {
  font-size: 10px;
  height: 16px;

  .v-chip__content {
    padding: 0 6px;
  }
}

.page__title {
  color: $primary;
  background-color: #fff;
  padding: 1.5em;
  display: inline-flex;
  align-items: center;
}

.max-widthed, h2, h3, h4, p, pre {
  max-width: $page-max-width;
  margin-left: auto !important;
  margin-right: auto !important;
}


// APPLICATION
//=================================================//
.application {
  background-color: #fff !important;
  padding-top: 8em;
}

.application--wrap {
  padding-top: 16em;
  overflow-x: hidden;
}



// FOOTER
//=================================================//
.application--wrap footer.v-footer {
  background: none;
  font-style: italic;
  color: $main-text;
  font-size: .9em;
  margin: 3em 0 5em;

  i {
    font-size: 1.2em;
    vertical-align: middle;
    transition: 1s ease-out;
    cursor: pointer;

    &.fa-vuejs:hover,
    &.fa-html5:hover,
    &.fa-css3:hover,
    &.fa-sass:hover {
      transform: rotate(360deg);
    }

    &.heart:hover {
      animation: pulse 1.8s ease-out infinite;
    }
  }
}

@keyframes pulse {
	0%, 20%, 30%, 35%, 45%, 100% {transform: scale(1);}
	25%, 40% {transform: scale(1.3);}
}

@media screen and (max-width: 1119px) {
  .max-widthed, h2, h3, h4, p, pre {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}
