body {
  font: 13px Roboto, Tahoma, Geneva, sans-serif;
  margin: 3em 0;
  color: #777;
}

header {
  margin: 3em auto 1.5em;
  max-width: 600px;
  position: relative;
  text-align: center;
}

header:before {
  content: "";
  position: absolute;
  margin-top: -1px;
  top: 50%;
  left: 0;
  right: 0;
  border: 2px solid #ff5252;
  display: block;
  z-index: -1;
}

header:after {
  content: "";
  position: absolute;
  margin-top: 5px;
  top: 50%;
  left: 0;
  right: 0;
  border: 1px solid #42b983;
  display: block;
  z-index: -1;
}

h1, h2, h3, h4 {
  font-weight: normal;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}

h2 {
  margin-top: 3em;
  font-size: 2em;
  color: #ff5252;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #ddd;
}

h3 {
  font-size: 1.5em;
  margin-top: 5em;
  color: #42b983;
}

h2 + h3,
h2 + a[name] + h3 {
  margin-top: 0;
}

h3 a {
  color: inherit;
}

h3 a:before {
  content: "# ";
  color: #ddd;
  font-size: 1.2em;
  transition: 0.3s;
}

h3 a:hover:before {
  color: #ccc;
}

h4 {
  margin-top: 2em;
  font-size: 1.2em;
  color: #666;
}

a {
  color: #ff5252;
  text-decoration: none;
}

p b {
  color: #000;
  font-weight: 500;
}

ul {
  margin-top: 1em;
  margin-left: 1.3em;
}

.intro {
  text-align: center;
  margin-bottom: 5em;
  color: #999;
}

.coming-soon {
  font-style: italic;
  color: #aaa;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 1em;
  display: inline-block;
}

.coming-soon h4 {
  margin-top: 0;
}

pre {
  padding: 0.5em;
  margin: 1.5em 0;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 4px;
  display: block;
  box-shadow: none;
}

.page__title {
  color: #ff5252;
  background-color: #fff;
  padding: 1.5em;
  display: inline-flex;
  align-items: center;
}

.page__logo {
  width: 60px;
  padding-right: 1em;
  fill: #ff5252;
}

.max-widthed, h2, h3, p, pre {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}


/* Syntax highlighting */
pre .txt {color: #333;}
pre .comment {font-style: italic;color: #aaa;}
pre .comment * {color: #aaa !important;}
pre .quote {color: #c11;}
pre .quote * {color: #c11 !important;}
pre .number {color: #c11;}
pre .boolean {color: #c11;}
pre .keyword {color: #11c;font-weight: bold;}
pre .ponctuation {color: #99f;}
pre .dollar,
pre .special {color: #f63;}
pre .variable {color: #29e;}
pre .objAttr {color: #0bc;}

pre[data-type="html"] .tag-name {color: #11c;}
pre[data-type="html"] .attribute {color: #f63;}

pre[data-type="html-vue"] .tag-name {color: #42b983;}
pre[data-type="html-vue"] .ponctuation {color: #128953;}
pre[data-type="html-vue"] .attribute {color: #ff5252;}

pre[data-type="xml"] .tag-name {color: #11c;}
pre[data-type="xml"] .attribute {color: #f93;}

pre[data-type="css"] .selector {color: #f0d;}
pre[data-type="css"] .selector.class-id {color: #f0d;}
pre[data-type="css"] .pseudo {color: #f35;}
pre[data-type="css"] .selector.keyword {color: #f5f;}
pre[data-type="css"] .selector.keyword.vendor {color: #0c8;}
pre[data-type="css"] .keyword {color: #c06;}
pre[data-type="css"] .attribute {color: #70d;}
pre[data-type="css"] .attribute.keyword {color: #e28;}
pre[data-type="css"] .attribute.keyword.vendor {color: #0c8;}
pre[data-type="css"] .value {color: #c11;}
pre[data-type="css"] .value.vendor {color: #0c8;}
pre[data-type="css"] .color {background: #eee;padding: 0px 3px;border: 1px solid rgba(0,0,0,.1);}
pre[data-type="css"] .unit {color: #0bc;}
